In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np

In [2]:
you = pd.read_csv('../data/youtube.csv', encoding='latin-1')

In [3]:
you2 = you.dropna()

In [4]:
you2.columns = you2.columns.str.replace('_','')

In [5]:
you2.columns = you2.columns.str.replace(' ','')

In [6]:
you2.columns = you2.columns.str.strip()

In [7]:
you2.columns = you2.columns.str.lower()

In [8]:
def cambiar_comas_por_puntos(df):
    
    def sustituir(value):
        
        return str(value.replace('.', ','))  
    
    for columna in df.columns:
        
        df[columna] = df[columna].astype(str)
        
        df[columna] = df[columna].apply(sustituir)
        
    return df

In [9]:
you3 = cambiar_comas_por_puntos(you2)

/var/folders/15/5_f65qy92p9g_whj_y56mjsw0000gn/T/ipykernel_4292/207823004.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columna] = df[columna].astype(str)
/var/folders/15/5_f65qy92p9g_whj_y56mjsw0000gn/T/ipykernel_4292/207823004.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columna] = df[columna].apply(sustituir)

In [10]:
months = {'Jan':1, 'Feb':2, 'Mar':3, 'Apr':4, 'May':5, 'Jun':6, 'Jul':7, 'Aug':8, 'Sep':9, 'Oct':10, 'Nov':11, 'Dec':12}
you3['date'] = [f"{str(row['createdyear'].split(',')[0])}/{str(months[row['createdmonth']])}/{str(row['createddate'].split(',')[0])}" for _, row in you3.iterrows()]

/var/folders/15/5_f65qy92p9g_whj_y56mjsw0000gn/T/ipykernel_4292/443262338.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  you3['date'] = [f"{str(row['createdyear'].split(',')[0])}/{str(months[row['createdmonth']])}/{str(row['createddate'].split(',')[0])}" for _, row in you3.iterrows()]

In [11]:
bad_cols=['createddate', 'rank', 'createdmonth', 'createdyear', 'abbreviation', 'channeltyperank','countryrank','videoviewsrank',]
you3.rename(columns={'grosstertiaryeducationenrollment(%)': 'education_country','subscribersforlast30days': 'subs30d','videoviewsforthelast30days': 'views30d'} , inplace=True )

you3.drop(columns=bad_cols, axis=1, inplace=True)

/var/folders/15/5_f65qy92p9g_whj_y56mjsw0000gn/T/ipykernel_4292/293628568.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  you3.rename(columns={'grosstertiaryeducationenrollment(%)': 'education_country','subscribersforlast30days': 'subs30d','videoviewsforthelast30days': 'views30d'} , inplace=True )
/var/folders/15/5_f65qy92p9g_whj_y56mjsw0000gn/T/ipykernel_4292/293628568.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  you3.drop(columns=bad_cols, axis=1, inplace=True)

In [12]:
you3.to_csv('../data/youtube_clean.csv')

In [13]:
def type_change(df):
    
    def sustituir2(value):
        
        return str(value.replace(',', '.'))  
    
    for columna in df.columns:
        
        df[columna] = df[columna].astype(str)
        
        df[columna] = df[columna].apply(sustituir2)
        
        try:
            df[columna] = df[columna].astype(int)
        except:
            df[columna] = df[columna]
        
    return df

In [14]:
you4 = type_change(you2)

/var/folders/15/5_f65qy92p9g_whj_y56mjsw0000gn/T/ipykernel_4292/3260346833.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columna] = df[columna].astype(str)
/var/folders/15/5_f65qy92p9g_whj_y56mjsw0000gn/T/ipykernel_4292/3260346833.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columna] = df[columna].apply(sustituir2)
/var/folders/15/5_f65qy92p9g_whj_y56mjsw0000gn/T/ipykernel_4292/3260346833.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columna] = df[columna]
/var/folders/15/5_f65qy92p9g_whj_y56mjsw0000gn/T/ipykernel_4292/3260346833.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columna] = df[columna].astype(int)

In [15]:
you4.videoviews = you4.videoviews.astype(float)

/var/folders/15/5_f65qy92p9g_whj_y56mjsw0000gn/T/ipykernel_4292/797673939.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  you4.videoviews = you4.videoviews.astype(float)

In [16]:
you4.subscribers = you4.subscribers.astype(float)
you4.uploads = you4.uploads.astype(float)

/var/folders/15/5_f65qy92p9g_whj_y56mjsw0000gn/T/ipykernel_4292/51561003.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  you4.subscribers = you4.subscribers.astype(float)
/var/folders/15/5_f65qy92p9g_whj_y56mjsw0000gn/T/ipykernel_4292/51561003.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  you4.uploads = you4.uploads.astype(float)

In [17]:
you4.lowestyearlyearnings = you4.lowestyearlyearnings.astype(float)
you4.highestyearlyearnings = you4.highestyearlyearnings.astype(float)
you4.uploads = you4.uploads.astype(float)

/var/folders/15/5_f65qy92p9g_whj_y56mjsw0000gn/T/ipykernel_4292/2223176227.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  you4.lowestyearlyearnings = you4.lowestyearlyearnings.astype(float)
/var/folders/15/5_f65qy92p9g_whj_y56mjsw0000gn/T/ipykernel_4292/2223176227.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  you4.highestyearlyearnings = you4.highestyearlyearnings.astype(float)
/var/folders/15/5_f65qy92p9g_whj_y56mjsw0000gn/T/ipykernel_4292/2223176227.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  you4.uploads = you4.uploads.astype(float)

In [18]:
country = you4.pivot_table(values=['subscribers', 'videoviews', 'uploads', 'views30d', 'lowestmonthlyearnings', 'highestmonthlyearnings', 'lowestyearlyearnings', 'highestyearlyearnings', 'subs30d', 'population', 'unemploymentrate'], index=['country'], aggfunc={'subscribers': 'sum', 'videoviews': 'sum', 'uploads': 'sum', 'views30d': 'sum', 'lowestmonthlyearnings': 'sum', 'highestmonthlyearnings': 'sum', 'lowestyearlyearnings': 'sum', 'highestyearlyearnings': 'sum', 'subs30d': 'sum', 'population': 'max', 'unemploymentrate': 'max'})

In [19]:
country = you4.pivot_table(
    values=['subscribers', 'videoviews', 'uploads', 'views30d', 'lowestmonthlyearnings',
            'highestmonthlyearnings', 'lowestyearlyearnings', 'highestyearlyearnings',
            'subs30d'],
    index=['country'],
    aggfunc='sum'
)

/var/folders/15/5_f65qy92p9g_whj_y56mjsw0000gn/T/ipykernel_4292/3070720273.py:1: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  country = you4.pivot_table(

In [20]:

you_countries = country.reset_index()

you_countries = cambiar_comas_por_puntos(you_countries)

In [21]:
you_countries.to_csv('../data/you_countries.csv', index=False)

In [22]:
you_countries

,country,highestyearlyearnings,lowestyearlyearnings,subscribers,uploads,videoviews
0,Argentina,"147100000,0","9090300,0","276800000,0","17168,0","165148372609,0"
1,Australia,"18800007,0","1200000,44","32100000,0","653,0","14730666923,0"
2,Barbados,"8800000,0","548800,0","41900000,0","84,0","22477745835,0"
3,Brazil,"296300000,0","18558700,0","683300000,0","77227,0","289835608792,0"
4,Canada,"61758600,0","3861700,0","186100000,0","10340,0","114294246679,0"
5,Chile,"8000002,0","499800,15","87200000,0","6771,0","29347556577,0"
6,China,"1100000,0","67100,0","17600000,0","128,0","2977741577,0"
7,Colombia,"109800000,0","6900800,0","224600000,0","9567,0","123136914737,0"
8,Cuba,"5,0","0,28","46300000,0","1,0","22936630813,0"
9,Ecuador,"3787600,0","237900,0","27700000,0","1934,0","5492461363,0"
10,Egypt,"3800000,0","236900,0","30600000,0","5936,0","9824740566,0"
11,El Salvador,"1600000,0","101500,0","46100000,0","543,0","10323391593,0"
12,France,"3800072,0","235704,0","69500000,0","2005,0","27471385520,0"
13,Germany,"67301800,0","4287914,0","75200000,0","5332,0","49424308340,0"
14,India,"1750411100,0","109292200,0","3828000000,0","3594946,0","2139625163617,0"
15,Indonesia,"99627104,0","6187500,26","383800000,0","662921,0","126148768961,0"
16,Italy,"60200000,0","3789600,0","39400000,0","1805,0","19894897856,0"
17,Japan,"82300119,0","5147107,0","78100000,0","14140,0","56623972987,0"
18,Jordan,"17900000,0","1119400,0","67000000,0","6667,0","53090079884,0"
19,Kuwait,"7600000,0","473700,0","30500000,0","641,0","4521573939,0"
20,Latvia,"59800000,0","3700000,0","20200000,0","1935,0","20919403720,0"
21,Malaysia,"5700000,0","353200,0","17700000,0","1716,0","9059696049,0"
22,Mexico,"69714300,0","4355900,0","309300000,0","11955,0","88109759434,0"
23,Netherlands,"7400000,0","465500,0","43900000,0","13453,0","22087966847,0"
24,Pakistan,"157100000,0","9800200,0","129900000,0","507702,0","108651656560,0"
25,Philippines,"75600000,0","4737600,0","152300000,0","835004,0","116210693086,0"
26,Russia,"137520900,0","8586300,0","357500000,0","19182,0","228295040777,0"
27,Samoa,"18,0","1,0","13100000,0","12,0","6637820731,0"
28,Saudi Arabia,"19976300,0","1245200,0","123900000,0","11341,0","66577084063,0"
29,Singapore,"5600000,0","351600,0","16200000,0","31889,0","20522339099,0"
30,South Korea,"140465700,0","8746900,0","324600000,0","40700,0","129352604953,0"
31,Spain,"37851805,0","2354479,31","180800000,0","37854,0","67246035255,0"
32,Sweden,"185800,0","11600,0","12300000,0","39,0","374123483,0"
33,Switzerland,"2800000,0","176600,0","19400000,0","10728,0","5529131886,0"
34,Thailand,"68000100,0","4243100,0","272300000,0","838709,0","208786390183,0"
35,Turkey,"25700000,0","1632400,0","43700000,0","24797,0","64885817057,0"
36,Ukraine,"28100005,0","1742900,32","77100000,0","214868,0","38816002587,0"
37,United Arab Emirates,"37346700,0","2371100,0","102300000,0","172827,0","51088634342,0"
38,United Kingdom,"152100078,0","9530905,0","542000000,0","65843,0","268088509793,0"
39,United States,"1797961314,14","112153995,94","4546100000,0","911979,0","2422899028806,0"
40,Venezuela,"172,0","11,0","31200000,0","65,0","9673649438,0"
41,Vietnam,"16400000,0","1023600,0","34100000,0","4545,0","19631108846,0"